<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Desc De la page"> <!-- description de la page-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title> <!-- Title de la page-->
        <!-- CSS VENDOR / Librairie -->
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <!-- CSS perso -->
        <link rel="stylesheet" href="../assets/css/baseCO.css">

</head>
<body>
  
 
    <header>
        <img id="logo" src="../assets/img/logo.png" alt="logo du site"> <!-- logo du site-->
        <h1>Inscripted</h1>

        <nav> 
            <ul>
                <li>NewsLetter</li>
                <li>info+</li>
            </ul>
        </nav>
    </header>


    <main>
        <h2>Inscription :</h2>
        <form action="">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" >

            <label for="password">MDP :</label>
            <input type="password" name="password" id="password" >
            <p>vous n'avez pas de compte <a href="../index.html">créer un compte</a></p>
            <button id="Incrire">se connecter</button>
        </form>

    </main>
  

  <script src="assets/js/script.js"></script>
</body>
</html>